.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 2%;
    background: #042446;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Footer Item */
.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 200px;
}

/* Icons Styling */
.footer-item svg {
    color: #00bfff; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        position: relative;
    }
}
