body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin-top: 40px;
    display: flex ;
    align-items: center;
    gap: 20px;
    
}
header h1 {
    font-size: 30px ;

}

.btn{
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: 50px;
}