.transactions {
    background: #1E2A47;
    padding: 25px;
    border-radius: 12px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.transaction {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #555;
    font-weight: 500;
}

.transaction:last-child {
    border-bottom: none;
}